.btn-blue {
  color: #fff !important;
  background-color: #165d93;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px; }

.pointer {
  cursor: pointer; }

.error {
  color: red; }

.modal-dialog .modal-header {
  background-color: #165d93;
  color: #fff !important;
  display: unset;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  .modal-dialog .modal-header .close {
    margin-top: -7px; }

.navbar {
  background: #165d93 !important; }

select.form-control {
  height: 40px !important; }
