.manage-exam .description-width {
  white-space: normal;
  display: -webkit-box;
  max-width: 720px;
  height: 97.2px;
  margin: -1px auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.manage-exam .form-horizontal input.form-control {
  height: 28px;
  max-width: 400px;
  padding: 5px 10px; }

.manage-exam .ant-table-thead > tr > th.ant-table-column-sort, .manage-status .ant-table-thead > tr > th.ant-table-column-sort {
  background: transparent; }

.manage-exam table, .manage-status table {
  border: 1px solid #ddd; }
  .manage-exam table thead, .manage-status table thead {
    background-color: #165d93;
    color: #fff; }
    .manage-exam table thead tr th, .manage-status table thead tr th {
      white-space: nowrap;
      font-weight: 300;
      min-height: 18px;
      line-height: 18px;
      border: none;
      font-size: 12px;
      background-color: #165d93;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff; }
      .manage-exam table thead tr th a, .manage-status table thead tr th a {
        cursor: pointer; }
  .manage-exam table tbody tr td, .manage-status table tbody tr td {
    border: none;
    text-align: left;
    color: #333;
    padding: 5px;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    font-size: 12px;
    border-bottom: 1px solid #ccc; }
    .manage-exam table tbody tr td .select-input, .manage-status table tbody tr td .select-input {
      height: 30px !important;
      font-size: 13px; }
    .manage-exam table tbody tr td .btn, .manage-status table tbody tr td .btn {
      font-size: 12px; }
  .manage-exam table th.column-money,
  .manage-exam table td.column-money, .manage-status table th.column-money,
  .manage-status table td.column-money {
    text-align: right !important; }

.close {
  color: white !important;
  opacity: 1; }

.close:hover {
  color: white !important;
  opacity: 1; }

.modal-title {
  color: white !important; }
